body {
  font-family: "Arial", sans-serif;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

header {
  background-color: #00334e;
  color: white;
  padding: 20px;
  text-align: center;
}

form {
  background-color: white;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 20px;
}

button {
  background-color: #0077cc;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005fa3;
}

button[type="reset"] {
  background-color: #f44336;
}

button[type="reset"]:hover {
  background-color: #d32f2f;
}

#rules {
  text-align: center;
  margin-top: 40px;
}

/* Responsive design */
@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  header {
    padding: 10px;
  }

  form {
    margin: 10px;
    padding: 10px;
  }
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #00334e;
  color: white;
}

footer a {
  color: #29a9df;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}
